<launch>
	<node pkg="pwm_dev" type="select_mode.py" name="select_mode">
	</node>

	<!-- Static TF / Viz -->
	<include file="$(find pwm_decsription)/launch/urdf.launch"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
	</node>

    <include file="$(find pwm_bringup)/launch/sensors.launch"/>
	<include file="$(find pwm_bringup)/launch/joy.launch"/>
</launch>
