<launch>
    <!-- TODO : add sim-compatible configuration -->
    <arg name="all"           default="true"       doc="Default value for all arguments"/>
    <arg name="arbiter"       default="$(arg all)" doc="Operating mode selection"/>
    <arg name="transform"     default="$(arg all)" doc="TF transformations"/>
	<arg name="hardware"      default="$(arg all)" doc="Hardware sensing and user interfaces"/>
    <arg name="arduino"       default="$(arg all)" doc="Arduino (only enabled if hardware:=true)"/>
    <!-- disabling serial driver for now, in favor of tcp-based serial/client
    <arg name="serial_driver" default="$(arg all)" doc="Run serial server for RNET client (Only enabled if hardware:=true)"/>
    -->
	<arg name="localization"  default="$(arg all)" doc="Localization / mapping features"/>
	<arg name="navigation"    default="$(arg all)" doc="Navigational features"/>
	<arg name="indoor"        default="$(arg all)" doc="Select map-odom loop closure Mode; LIDAR(indoor) / RGB-D(outdoor)"/>
	<arg name="nav_remap"     default="$(arg all)" doc="Whether or not to remap cmd_vel in navigation"/>

    <!-- Arbitration -->
    <group if="$(arg arbiter)">
        <node pkg="topic_tools" type="mux" name="cmd_vel_mux" args="cmd_vel manual_cmd_vel auto_cmd_vel estop_cmd_vel mux:=mux_cmd_vel"/>
        <node pkg="pwm_dev" type="select_mode.py" name="select_mode"/>
    </group>

    <!-- Static TF / Viz -->
    <group if="$(arg transform)">
        <include file="$(find pwm_description)/launch/urdf.launch"/>
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
    </group>

    <!-- Hardware -->
    <include file="$(find pwm_bringup)/launch/sensors.launch">
        <arg name="hardware" value="$(arg hardware)"/>
    </include>

	<group if="$(arg hardware)">
		<include file="$(find pwm_bringup)/launch/joy.launch"/>
		<include file="$(find pwm_arduino)/launch/arduino.launch" if="$(arg arduino)"/>
        <!--
        <include file="$(find pwm_driver)/launch/serial_server.launch" if="$(arg serial_driver)"/>
        -->
	</group>

    <!-- Localization -->
    <group if="$(arg localization)">
        <include file="$(find pwm_localization)/launch/localization.launch" if="$(arg localization)">
			<arg name="indoor" value="$(arg indoor)"/>
		</include>
    </group>

    <!-- Navigation -->
    <group if="$(arg navigation)">
		<node pkg="pwm_dev" type="grass_detector" name="grass_detector"/>
        <include file="$(find pwm_navigation)/launch/move_base.launch" if="$(arg navigation)">
			<arg name="nav_remap" value="$(arg nav_remap)"/>
		</include>
    </group>

</launch>
