<!-- Phidgets IMU launch file -->

<launch>

#### Nodelet manager ######################################################

<node pkg="nodelet" type="nodelet" name="imu_manager" 
args="manager" output="screen" />

#### IMU Driver ###########################################################

<node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet" 
args="load phidgets_imu/PhidgetsImuNodelet imu_manager" 
output="screen">

# supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
<param name="period" value="4"/>

# compass correction params (see http://www.phidgets.com/docs/1044_User_Guide)
<param name="cc_mag_field" value="0.545400"/>
<param name="cc_offset0" value="-4.303229"/>
<param name="cc_offset1" value="-3.260948"/>
<param name="cc_offset2" value="0.000000"/>
<param name="cc_gain0" value="1.823655"/>
<param name="cc_gain1" value="1.843377"/>
<param name="cc_gain2" value="1.833516"/>
<param name="cc_t0" value="0.012302"/>
<param name="cc_t1" value="0.000000"/>
<param name="cc_t2" value="0.013078"/>
<param name="cc_t3" value="0.000000"/>
<param name="cc_t4" value="0.000000"/>
<param name="cc_t5" value="0.000000"/>

<!--<param name="serial_number" value="354968"/>-->

</node>

#### IMU Orientation Filter ###############################################

<node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" 
args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" 
output="screen">

<param name="world_frame" value="enu"/>
<param name="use_mag" value="true"/>
<remap from="/imu/data" to="/imu"/>
<param name="publish_tf" value="false"/>

</node>

</launch>
