<launch>
    <!--
    <node pkg="rosbag" type="record" name="rosbag"
        args="record /cmd_vel /tf /tf_static -o /tmp/pwm -x '.*image_raw$' "></node>
    -->

    <node pkg="rosbag" type="record"  name="rosbag"
        args="/cmd_vel /camera/color/image_rect_color/compressed /camera/aligned_depth_to_color/image_raw/compressedDepth /camera/color/camera_info /camera/aligned_depth_to_color/camera_info /tf /tf_static -o /tmp/pwm" output="screen">
    </node>
</launch>
