<launch>
    <arg name="sim" default="false"/>
    <!--
	<param name="robot_description"
		command="$(find xacro)/xacro.py '$(find pwm_description)/urdf/simple.urdf.xacro'" />
    -->
	<param name="robot_description"
		command="$(find xacro)/xacro '$(find pwm_description)/urdf/wheelchairdev.urdf.xacro' sim:=$(arg sim) --inorder" />
    <!--
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
		<remap from="/joint_states" to="/wheelchair/joint_states" />
	</node>
    -->

</launch>
