<launch>
	<arg name="port" default="/dev/pi" doc="Serial port for the raspberry pi, or other embedded-linux CAN interface. See pwm_driver/rnet_node.cpp"/>
    <node pkg="rosserial_python" type="serial_node.py" name="serial_server" output="screen">
        <param name="port" value="$(arg port)"/>
    </node>
</launch>
