<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="defs">

	<!-- conversion units -->
	<xacro:property name="inch" value="0.0254"/>
	<xacro:property name="lb" value="0.453592"/>
	<xacro:property name="deg" value="${pi/180.0}"/>

    <!-- cylinder inertia about z axis -->
	<xacro:macro name="cylinder_inertia" params="m r h">
		<inertia  ixx="${m*(3*r*r+h*h)/12}" ixy = "0" ixz = "0"
			iyy="${m*(3*r*r+h*h)/12}" iyz = "0"
			izz="${m*r*r/2}"
			/>
	</xacro:macro>

    <!-- box inertia -->
	<xacro:macro name="box_inertia" params="x y z mass">
		<inertia ixx="${0.0833333 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0"
			iyy="${0.0833333 * mass * (x*x + z*z)}" iyz="0.0"
			izz="${0.0833333 * mass * (x*x + y*y)}" />
	</xacro:macro>

</robot>

