<launch>
	<arg name="fusion" default="true"/>
	<arg name="indoor" default="true"/>

	<include file="$(find pwm_localization)/launch/odom.launch">
		<arg name="fusion" value="$(arg fusion)"/>
	</include>

	<include file="$(find pwm_localization)/launch/hector_slam.launch" if="$(arg indoor)">
	</include>

	<include file="$(find pwm_localization)/launch/rtabmap.launch" unless="$(arg indoor)">
		<arg name="rtabmapviz" value="false"/>
		<arg name="rviz" value="false"/>

		<!--
		<arg if="$(arg fusion)" name="subscribe_odom_info" value="false"/>
		<arg unless="$(arg fusion)" name="subscribe_odom_info" value="true"/>
		-->

		<arg name="subscribe_odom_info" value="false"/>

		<!--
		<arg name="publish_tf" if="$(arg fusion)" value="false"/>
		<arg name="publish_tf" unless="$(arg fusion)" value="true"/>
		-->
		<arg name="publish_tf" value="true"/>

		<arg name="frame_id" value="base_footprint"/>
		<arg name="args" value="--delete_db_on_start"/>

		<arg name="rgb_topic" value="/camera/color/image_raw"/>
		<arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
		<arg name="camera_info_topic" value="/camera/color/camera_info"/>

		<arg name="subscribe_scan" value="false"/>
		<arg name="odom_topic" value="/odom"/>
		<arg name="odom_frame_id" value="world"/>

		<remap from="/rtabmap/grid_map" to="/map"/>
	</include>

	<group if="$(arg fusion)">
		<include file="$(find pwm_localization)/launch/navsat.launch"/>
		<node pkg="robot_localization" type="ukf_localization_node" name="fuse_global">
			<rosparam command="load" file="$(find pwm_localization)/config/fuse_global.yaml"/>
			<remap from="odometry/filtered" to="/odom"/>
		</node>
		<node pkg="pwm_localization" type="w2o.py" name="w2o">
		</node>
	</group>

</launch>
