<launch>
	<arg name="fusion" default="true" doc="Perform sensor fusion (IMU/VO) for odometry"/>

    <include if="$(arg fusion)" file="$(find pwm_localization)/launch/fuse_odom.launch"/>

    <node pkg="rtabmap_ros" type="rgbdicp_odometry" name="icp_odometry" output="screen" >
        <remap from="scan"      to="/scan"/>
        <remap if="$(arg fusion)" from="odom"      to="/vo"/>
        <remap unless="$(arg fusion)" from="odom"      to="/odom"/>
        <remap from="odom_info"      to="/rtabmap/odom_info"/>
        <remap from="/rgb/image" to="/camera/color/image_raw"/>
        <remap from="/depth/image" to="/camera/aligned_depth_to_color/image_raw"/>
        <remap from="/rgb/camera_info" to="/camera/color/camera_info"/>

        <param name="frame_id"        type="string" value="base_footprint"/>   

        <param name="Icp/PointToPlane"  type="string" value="false"/>
        <param name="Icp/VoxelSize"     type="string" value="0.05"/>
        <param name="Icp/Epsilon"       type="string" value="0.001"/>
        <param name="Icp/PointToPlaneK"  type="string" value="5"/>
        <param name="Icp/PointToPlaneRadius"  type="string" value="0.3"/>
        <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>
        <param name="Icp/PM"             type="string" value="true"/>
        <param name="Icp/PMOutlierRatio" type="string" value="0.95"/>

        <param name="Odom/Strategy"        type="string" value="1"/>
        <param name="Odom/ResetCountdown"  type="string" value="10"/>
        <param name="Odom/ScanKeyFrameThr"  type="string" value="0.9"/>
        <param name="Odom/FilteringStrategy" type="string" value="0"/> <!-- PF -->
        <param name="Odom/GuessMotion"     type="string" value="false"/>
        <param name="Odom/Holonomic" value="false"/>
        <param name="Vis/CorType" value="1"/>

        <param name="Reg/Force3DoF" value="true"/>
        <param name="Reg/Strategy" value="2"/>

		<param name="publish_tf" value="false"/>
    </node>

</launch>
